<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href=" {{ asset('bundles/first/css/bootstrap.min.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/main.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/supersized.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/supersized.shutter.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/jquery.fancybox.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/fonts.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/shortcodes.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/bootstrap-responsive.min.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/responsive.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/supersized.css')}} " rel="stylesheet">
            <link href=" {{ asset('bundles/first/css/supersized.shutter.css')}} " rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
